* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

body {
    overflow: hidden;
    transition: background 0.5s linear;
    background-size: contain;
    height: 100vh;
}

main {
    position: relative;
    height: 100%;
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
    align-items: center;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}

body::-webkit-scrollbar-track {
    background-color: #fff
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 50px;
    border: 4px solid #fff
}